@model ForgeCore.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeBaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeBaseId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caracteristics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caracteristics)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialUnidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialUnidades)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
